snippet func "func"
function $1($2) {
	$3
}
endsnippet

snippet async "async"
async function $1($2) {
	$3
}
endsnippet

snippet alambda "alambda"
($1) => $2
endsnippet

snippet blambda "alambda"
($1) => {
	$2
} 
endsnippet

snippet arw "arw"
=>
endsnippet

snippet clog "clog"
console.log({ $1 });
endsnippet

